body {
  font-family: sans-serif;
  text-align: center;
}

.main_div {
  width: 350px;
  height: 450px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #949494;
}

.result {
  width: 280px;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: right;
  background-color: #f3f3f3;
}

h1 {
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 10px;
}

button {
  width: 60px;
  height: 60px;
  margin: 4px;
  font-size: 30px;
  background-color: #eae1e2;
  border: 1px solid gray;
  border-radius: 5px;
}

.mathematics {
  float: right;
  margin-right: 24px;
  margin-top: 20px;
}

.first_line {
  margin-top: 20px;
  margin-left: 18px;
}

.second_line {
  margin-left: 18px;
}

.third_line {
  margin-left: 18px;
}

.fourth_line {
  margin-left: 18px;
}

.math {
  background-color: rgb(194, 194, 194);
  height: 38px;
}

.calculate {
  background-color: #005a9e;
}

.C {
  background-color: rgb(214, 52, 52);
  border: 1px solid gray;
}