body {
  font-family: sans-serif;
}

.main_div {
  width: 350px;
  height: 460px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #949494;
}

.header {
  margin: 0 auto;
}

.result {
  width: 290px;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: right;
  background-color: #f3f3f3;
}

h1 {
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 10px;
}

button {
  width: 55px;
  height: 55px;
  margin: 4px;
  font-size: 20px;
  background-color: #eae1e2;
  border: 1px solid gray;
  border-radius: 5px;
}

.mathematics {
  float: right;
  margin-right: 25px;
  margin-top: 5px;
}

.line {
  float: left;
  margin-left: 25px;
}

.math {
  background-color: rgb(194, 194, 194);
  height: 76px;
  width: 40px;
}

.calculate {
  background-color: #005a9e;
}

.C {
  background-color: rgb(214, 52, 52);
  border: 1px solid gray;
}

.b {
  margin-right: 0;
}

.first_line {
  margin-top: 5px;
}

.percent{
  height: 40px;
  width: 140px;
  background-color: rgb(194, 194, 194);
}

.up-line{
  margin-left: 25px;
  margin-top: 5px;
}

.square-root{
  height: 40px;
  width: 140px;
  background-color: rgb(194, 194, 194);
}